<html>
    <head>
        <title> Ber's Blog </title>
    </head>
    <body>
        <div>
            <h1> This is a heading </h1>
        </div>

        <div>
            <h2> This is a sub-heading </h2>
        </div>
        
        <h3> This is a sub-sub-heading </h3> 
        <p> This is a paragraph </p>
        <p> This is another paragraph with <em> emphasis </em> while this one <strong> strongly emphasize </strong> the text </p>
        <br>
        <a href="https://www.instagram.com/wherewas_i/?hl=en">This is a link to my Public Instagram</a>
        <ul><li> first item </li><li> second item </li></ul> makes a list like this one!
    </body>
</html>
